.App {
  margin-left: 4px;
  color: #383838 !important;
}

/**************************    Navbar    **************************/
.nav-bar {
  width: 300px;
  background: white;
  border-right: 1px solid silver;
  /* height: 100vh; */
  /**/
  /* flex-grow: 7; */
}

.nav-body {
  padding: 10px;
}

.workspace-header {
  display: flex;
}

.workspace-arrow-block {
  margin-top: -4px;
  margin-left: 10px;
}

.workspace-item {
  margin-top: 5px;
}

.workspace-item-label {
  margin-left: 10px;
}

.favorites-block {
  margin-top: 30px;
}

.favorites-header {
  display: flex;
  justify-content: space-between;
}

.favorites-arrow-block {
  margin-top: -4px;
  margin-left: 10px;
}

.nav-child-counts {
  background: #4a4afe;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.favorites-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.leads-block {
  margin-top: 30px;
}

.leads-header {
  display: flex;
  justify-content: space-between;
}

.leads-arrow-block {
  margin-top: -4px;
  margin-left: 10px;
}

.nav-child-counts {
  background: #4a4afe;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.leads-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tasks-block {
  margin-top: 30px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
}

.tasks-arrow-block {
  margin-top: -4px;
  margin-left: 10px;
}

.nav-child-counts {
  background: #4a4afe;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.tasks-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/**************************    Table    **************************/
.leads-table-block {
  margin: 10px auto;
  /* border: 1px solid #969696; */
  border-radius: 5px;
}

.row-checkbox {
  margin-left: 10px;
}

.drag-icon {
  display: none;
  margin-left: -16px;
  cursor: grab;
}

.lead-row:hover .drag-icon {
  display: inline;
}

.lead-row:hover {
  background: #f9f9f9;
}

.contact-block {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -15px;
}

.contact-label-block {
  line-height: 15px;
  margin-left: 15px;
  width: 70%;
}

.status-circle {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  bottom: 15px;
  right: -20px;
  position: relative;
}

.status-table-block {
  display: flex;
  width: 100px;
  place-content: center;
  font-weight: 600;
  padding: 4px;
  border-radius: 23px;
}

.tag-table-block {
  display: flex;
  width: 70px;
  place-content: center;
  font-weight: 600;
  padding: 4px;
  border-radius: 23px;
}

.more-assigned-button {
  background: silver;
  padding: 1px 3px;
  border: 1px solid;
  border-radius: 50%;
  margin-left: -16px;
}

.sku-table-block {
  border: 1px solid grey;
  text-align: center;
  border-radius: 5px;
}

.kanban-options-block {
  /* width: 238rem; */
  padding: 0px 12px;
  border-top: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 500;
  /* font-size: initial; */
}

.contact-details {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  padding-bottom: 15px;
}

.kanban-option-nav-item {
  padding: 10px 15px;
}

.kanban-option-nav-item:hover {
  color: rgb(74, 74, 255);
  border-bottom: 2px solid rgb(74, 74, 255);
  cursor: default;
  padding: 10px 15px;
}

.kanban-option-nav-item-active {
  padding: 10px 15px;
  color: rgb(74, 74, 255);
  border-bottom: 2px solid rgb(74, 74, 255);
  cursor: default;
}

.wallpaers-header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-left: 20px;
}

.save-view-btn {
  border-radius: 5px;
  background: #0152cc;
  color: white;
  border: 0;
  padding: 3px 11px;
}

.save-view-option-btn {
  padding: 5px;
  border: 6px black;
  background: #e6dfdf;
  margin-left: 5px;
}
